body {
    font-family: Arial, sans-serif;
    background-color: #B59F78;
}

.feedback {
    font-weight: bold;
    font-size: 1.2em;
    color: #28a745;
}
#navbar {
    background-color: #78B3CE;
    color: white;
}
.nav-link {
    color: white;
}
.error {
    font-size: 1em;
    color: #dc3545;
}
#guessInput {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.instructions ul {
    padding: 0;
    list-style-type: none;
    padding-left: 1.2em;
    font-size: 0.95em;
}

#guessList .list-group-item {
    font-size: 0.9em;
    background-color: #f8f9fa;
    border: none;
    color: #333;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}
.game-instructions {
    background-color: #f8f9fa;
    max-width: 250px;
    padding: 15px;
    border-radius: 8px;
}
